extends layout

block content
  a(href='/') Voltar
  .w3-card-4
    header.w3-pink
      h2.w3-center Book
    .w3-container
      if book.bookId
        p bookId: #{book.bookId}
      if book.title
        p 
          a(href='/book/#{book.title}') title: #{book.title}
      if book.author
        p 
          a(href='/book/#{book.author}') author: #{book.author}
      if book.publishDate
        p publishDate: #{book.publishDate}
      if book.pages
        p pages: #{book.pages}
